* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
.hero {
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(to right, #00aaff, #aa00ff);
  box-shadow: 0 0 10px rgba(0, 170, 255, 0.8), 0 0 20px rgba(170, 0, 255, 0.8);
  color: #fff;
  position: relative;
}
.container {
  width: 800px;
  height: 180px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.clock {
  width: 100%;
  height: 100%;
  background: linear-gradient(to right, #aaff00, #ffea00);
  box-shadow: 0 0 10px rgba(170, 255, 0, 0.8), 0 0 20px rgba(255, 234, 0, 0.8);
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  backdrop-filter: blur(40px);
  color: black;
}
.container::before {
  content: "";
  width: 180px;
  height: 180px;
  background: #f41b75;
  border-radius: 5px;
  position: absolute;
  top: -50px;
  left: -50px;
  z-index: -1;
}
.container::after {
  content: "";
  width: 180px;
  height: 180px;
  /* background: #419aff; */
  background: linear-gradient(to right, #ff00aa, #ff6b4f);
  /* Additional styling for glow effect */
  box-shadow: 0 0 10px rgba(255, 0, 170, 0.8), 0 0 20px rgba(255, 107, 79, 0.8);
  border-radius: 50%;
  position: absolute;
  bottom: -50px;
  right: -50px;
  z-index: -1;
}
.clock span {
  font-size: 80px;
  width: 110px;
  display: inline-block;
  text-align: center;
  position: relative;
}
.clock span::after {
  font-size: 16px;
  position: absolute;
  bottom: -5px;
  left: 50%;
  transform: translateX(-50%);
}
#hrs::after {
  content: "HOURS";
}
#min::after {
  content: "MINUTES";
}
#sec::after {
  content: "SECONDS";
}
